/* src/components/HomePage.css */
* {
  box-sizing: border-box; /* Ensures padding and borders are included in width/height */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes the full height */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Background color */
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the content vertically */
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  background: linear-gradient(
    to right,
    #6a11cb,
    #2575fc
  ); /* Background gradient */
  color: white; /* Text color */
}

.navbar {
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar-title {
  font-size: 24px;
}

.logout-button {
  background-color: #ff4757;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  min-width: 50px;
  max-width: 100px;
}

.logout-button:hover {
  background-color: #ff6b81;
}

.content {
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.content p {
  font-size: 18px;
}

.footer {
  margin-top: auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
}
